In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append("..")

import pandas as pd
from scipy import stats

from src.dataset import load_data
from src.features import build_features, compare_distributions

Code from here: https://github.com/shreyashankar/debugging-ml-talk/blob/main/nyc_taxi_2020.ipynb

## Loading data

In [8]:
taxi_jan = load_data(year=2020, month=1)
taxi_feb = load_data(year=2020, month=2)
taxi_mar = load_data(year=2020, month=3)

In [9]:
len(taxi_jan), len(taxi_feb), len(taxi_mar)

(6405008, 6299367, 3007687)

## Pre-processing

In [10]:
target_col = "high_tip"

taxi_jan = build_features(taxi_jan.sample(100000), target_col)
taxi_feb = build_features(taxi_feb.sample(100000), target_col)
taxi_mar = build_features(taxi_mar.sample(100000), target_col)

## Test distributions

Maybe the distribution of data shifted. We could try to quantify this using a 2-sided statistical test (Kolmogorov Smirnov in this example).

### Compare January 2020 vs February 2020

The p values being small doesn't really tell us much, as we get very small p values when comparing January 2020 vs February 2020 even though we know the F1 score was similar. Curse "big data."

In [11]:
comparison_df = compare_distributions(taxi_jan, taxi_feb)
comparison_df.sort_values(by='p_value', ascending=True).head(11)

            feature  statistic       p_value
0    pickup_weekday   0.046080  2.125802e-92
7        trip_speed   0.037129  3.954348e-60
2        work_hours   0.027175  2.085581e-32
6         trip_time   0.016521  3.024578e-12
1       pickup_hour   0.010214  6.046173e-05
5     trip_distance   0.007112  1.285560e-02
8      PULocationID   0.006554  2.752946e-02
4   passenger_count   0.004200  3.418365e-01
3     pickup_minute   0.003807  4.643608e-01
10       RatecodeID   0.003667  5.130590e-01
9      DOLocationID   0.003150  7.047251e-01

### Compare February 2020 vs March 2020

These p values are also small, which is good? But if this method in general sends warning alerts all the time, an end user might not trust it.

In [12]:
comparison_df = compare_distributions(taxi_feb, taxi_mar)
comparison_df.sort_values(by='p_value', ascending=True).head(11)

            feature  statistic        p_value
7        trip_speed   0.064072  3.105431e-178
0    pickup_weekday   0.062678  1.423286e-170
2        work_hours   0.040001   1.073057e-69
1       pickup_hour   0.024876   3.273022e-27
5     trip_distance   0.024389   3.584463e-26
9      DOLocationID   0.021369   3.428756e-20
4   passenger_count   0.019488   7.279368e-17
6         trip_time   0.017820   3.585646e-14
8      PULocationID   0.011398   4.747640e-06
3     pickup_minute   0.004665   2.277731e-01
10       RatecodeID   0.004498   2.651135e-01